---
BasedOnStyle:  LLVM
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
BinPackParameters: false
ColumnLimit:     140
IndentWidth:     4
SortIncludes:    false
TabWidth:        4

