---
Checks: '-*,clang-analyzer-*,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,-clang-analyzer-security.insecureAPI.strcpy,bugprone-*,-bugprone-macro-parentheses,-bugprone-narrowing-conversions,cert-*,clang-diagnostic-*,performance-*,misc-*,-misc-non-private-member-variables-in-classes,portability-*,modernize-*,-modernize-use-trailing-return-type,-modernize-use-equals-default,-readability-*,-readability-convert-member-functions-to-static,-readability-uppercase-literal-suffix,-readability-magic-numbers,cppcoreguidelines-*,-cppcoreguidelines-macro-usage,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-narrowing-conversions'
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
