5551 ICON DISCARDABLE "PxView.ico"

1 VERSIONINFO

FILEVERSION     1,1,0,0
PRODUCTVERSION  1,1,0,0

#define FILEVERSION_STR    "1.1.0"
#define PRODUCTVERSION_STR "1.1.0"

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904B0"
    BEGIN
      VALUE "CompanyName", "Radek Malcic"
      VALUE "FileDescription", "PxView"
      VALUE "FileVersion", FILEVERSION_STR
      VALUE "InternalName", "PxView"
      VALUE "LegalCopyright", "Copyright (c) 2019 Radek Malcic"
      VALUE "OriginalFilename", "PxView.exe"
      VALUE "ProductName", "PxView"
      VALUE "ProductVersion", PRODUCTVERSION_STR
    END
    BLOCK "040504B0"
    BEGIN
      VALUE "CompanyName", "Radek Malčic"
      VALUE "FileDescription", "PxView"
      VALUE "FileVersion", FILEVERSION_STR
      VALUE "InternalName", "PxView"
      VALUE "LegalCopyright", "Copyright (c) 2019 Radek Malčic"
      VALUE "OriginalFilename", "PxBiew.exe"
      VALUE "ProductName", "PxView"
      VALUE "ProductVersion", PRODUCTVERSION_STR
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1200, 0x405, 1200
  END
END

